@font-face {
    font-family: raleway-t;
    src: url("Raleway-Thin.ttf");
}

@font-face {
    font-family: raleway-eb;
    src: url("Raleway-ExtraBold.ttf");
}

* {
    padding: 0px;
    margin: 0px;
}

.container {
    width: 100%;
    height: 500px;
    position: relative;
    display: inline-flex;
}

.text {
    width: 50%;
    display: flex;
    align-items: center;
}

.text-inner {
    margin-left: 100px;
}

.text-inner h1 {
    font-family: raleway-t;
    font-size: 130px;
}

.text-inner h2 {
    font-family: raleway-eb;
    font-size: 110px;
}

.image {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.image img {
    max-width: 500px;
    width: 100%;
    height: max-content;
}

@media screen and (max-width: 1125px) {
    .text {
        width: 100%;
        position: absolute;
        align-self: center;
    }

    .image {
        width: 100%;
        z-index: -1;
        position: absolute;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 620px) {
    .text {
        width: 100%;
        justify-content: center;
    }

    .text-inner {
        margin: 0px;
    }

    .text-inner h1 {
        font-family: raleway-t;
        font-size: 20vw;
    }
    
    .text-inner h2 {
        font-family: raleway-eb;
        font-size: 20vw;
    }

    .image {
        width: 100%;
        position: absolute;
        justify-content: center;
    }
}
